/*公共样式*/
* {
	margin: 0;
	padding: 0;
}
ul li {
	list-style: none;
}
html,
body {
	width: 100%;
	height: 100%;
	overflow:hidden;
}
body {
	min-width: 1200px;
	background: url(../images/1/bg.jpg) no-repeat center;
	background-size: 100%;
}
audio {margin-top:500px;display:none;}
.left {
	width: 20%;
	height: 100%;
	float: left;
	position: relative;
}
.mid {
	width: 60%;
	height: 100%;
	float: left;
}
.mid_top {
	width: 100%;
	height: 500px;
	position: relative;
}
.mid_down {
	width: 100%;
	height: 270px;
	position: relative;
}
.right {
	width: 20%;
	height: 100%;
	float: left;
	position: relative;
}
/*中上*/
.all_poker {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 125px;
	height: 185px;
	margin: auto;
	display:none;
}
.all_poker li {
	transition: .8s;
}
.p0 {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 125px;
	height: 185px;
	margin: auto;
	z-index: -1;
}
.back {
	position: absolute;
	width:125px;
	height:185px;
	background:url(../images/1/back.png)round no-repeat;
}
.p1,
.p3 {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 125px;
	height: 185px;
	margin: auto;
}
.p2 {
	position: absolute;
	top: 20%;
	left: 0;
	right:0;
	width: 125px;
	height: 185px;
	margin: auto;
}
li {
	position: absolute;
	width: 100%;
	height: 100%;
	background:round;
	border-radius:14px;
}
.left > .getBoss,
.left > .action {
	position: absolute;
	top: 0;
	right: -20%;
	bottom: 0;
	display: none;
	transform: rotateZ(90deg);
	margin: auto;
	width: 276px;
	height: 58px;
}
.right > .getBoss,
.right > .action {
	position: absolute;
	top: 0;
	bottom: 0;
	left: -20%;
	display: none;
	transform: rotateZ(-90deg);
	margin: auto;
	width: 276px;
	height: 58px;
}
.mid_down > .getBoss,
.mid_down > .action {
	position: absolute;
	top: 1%;
	left: 0;
	right: 0;
	display: none;
	margin: auto;
	width: 276px;
	height: 58px;
}

.mid_down > .countdown {
	position: absolute;
	right: 10%;
	width: 55px;
	height: 52px;
	margin: 0 0 0 20px;
	background: url(../images/coutdown.png);
	background-size: 100%;
	text-align: center;
	line-height: 55px;
	font-size: 20px;
}

.left > .countdown {
	position: absolute;
	top: 60%;
	right:0;
	width: 55px;
	height: 52px;
	margin: 0 0 0 20px;
	background: url(../images/coutdown.png);
	background-size: 100%;
	text-align: center;
	line-height: 55px;
	font-size: 20px;
}

.right > .countdown {
	position: absolute;
	top: 30%;
	width: 55px;
	height: 52px;
	margin: 0 0 0 20px;
	background: url(../images/coutdown.png);
	background-size: 100%;
	text-align: center;
	line-height: 55px;
	font-size: 20px;
}

.mid_down > .info {
	position: absolute;
	top:0;
	right: -5%;
	bottom:0;
	width: 75px;
	height: 100px;
	margin: auto;
	/*background: lime;*/
}
.left > .info {
	position: absolute;
	top:0;
	left: 0;
	bottom:0;
	width: 75px;
	height: 100px;
	margin: auto;
	/*background: lime;*/
}
.right > .info {
	position: absolute;
	top:0;
	right: 0;
	bottom:0;
	width: 75px;
	height: 100px;
	margin: auto;
	/*background: lime;*/
}


/*---------------------------------------------------------------------*/
/*========设置遮罩层========*/
.black {
	width:100%;
	height:100%;
	position:absolute;
	top:0px;
	background:#000;
	opacity:1;
	z-index:2;
	animation: black 1.5s linear 1;
	animation-fill-mode:forwards;
}
@keyframes black {
	0% {
		opacity:1;
		display:block;
		z-index:2;
	}
	100% {
		opacity:0;
		display:none;
		z-index:-1;		
	}
}
.Box {
	width:100%;
	height:100%;
	/*background:rgba(0,0,0,0.3);*/
	margin:0px auto;
	position:absolute;
	transform-style:none;
	perspective:none;
	animation:box 1s linear 1;
	animation-fill-mode:forwards;
}
@keyframes box {
	0% {
		transform-style:none;
		perspective:none;
	}
	100% {
		transform-style:preserve-3d;
		perspective:500px;
	}
}
.box {
	width:1800px;
	height:850px;
	margin:0px auto;
}
.ul {
	width:120px;
	height:180px;
	border-radius:10px;
	/*background:pink;*/
	margin:150px 300px 0px 400px;
	display:inline-block;
	position:relative;
}
.li {
	width:120px;
	height:180px;
	border-radius:10px;
	background:url('../images/1/back.png')round no-repeat;
	position:absolute;
	top:0px;	
}
.lis {
	opacity:1;
	transform:translateY(0px) translateZ(0px);
	animation:lis 1s linear 1;
	animation-delay:0.5s;
	animation-fill-mode:forwards;	
}
@keyframes lis {
	0% {
		opacity:1;
		transform:translateY(0px) translateZ(0px);
	}
	100% {
		opacity:0;
		transform:translateY(50px)translateZ(800px);
	}
}
.li1 {
	width:120px;
	height:180px;
	border-radius:10px;
	background:url(../images/1/back.png)round no-repeat;
	transform:translateX(-500px) translateZ(800px);
	position:absolute;
	top:0px;
	animation:li1 0.7s linear 1;
	/*animation-delay:0.5s;*/
	animation-fill-mode:forwards;	
}
@keyframes li1 {
	0% {
		transform:translateX(-500px) translateZ(800px);
	}
	100% {
		transform:translateX(0px) translateZ(0px);
	}
}
.li2 {
	width:120px;
	height:180px;
	border-radius:10px;
	background:url(../images/1/back.png)round no-repeat;
	transform:translateX(500px) translateZ(800px);
	position:absolute;
	top:0px;
	animation:li2 0.7s linear 1;
	/*animation-delay:0.5s;*/
	animation-fill-mode:forwards;	
}
@keyframes li2 {
	0% {
		transform:translateX(500px) translateZ(800px);
	}
	100% {
		transform:translateX(0px) translateZ(0px);
	}
}
.throw {
	width:461px;
	height:346px;
	background:pink;
	margin:-200px auto;
	background:url(../images/1/reng.gif)no-repeat center;
}
.li3 {
	transform:translateX(-350px) translateY(-280px) translateZ(-500px);
	opacity:0;
	animation:li3 0.5s linear 1;
	animation-delay:0.7s;
	animation-fill-mode:forwards;
}
@keyframes li3 {
	0% {
		opacity:0;
		transform:translateX(-350px) translateY(-280px) translateZ(-500px);
	}
	30% {
		opacity:1;
	}
	50% {
		opacity:1;
		transform:translateX(-330px) translateY(-200px) translateZ(-300px);
	}
	100% {
		opacity:1;
		transform:translateX(0px) translateY(0px) translateZ(100px);
	}
}
/*---------------准备按钮---------------*/
.star {
	width:117px;
	height:51px;
	border-radius:26px;
	text-align:center;
	line-height:51px;
	font-size:25px;
	color:orange;
	cursor:pointer;
	background:url(../images/1/buttom5.png)no-repeat;
	margin:0px auto;
	position:relative;
	top:400px;
	display:none;
}
.star:hover {
	background:url(../images/1/buttom6.png)no-repeat;
}
/*-------------------莫--------------------------*/
.start{
		width: 80px;
		height: 40px;
		cursor:pointer;
		position:absolute;
		margin:230px 70px;
		border-radius:6px 6px 6px 6px;
		outline:none;/*取消input焦点边框*/
	    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.34) 100%) repeat scroll 0 0 transparent;
		border: 1px solid #121212;
	    border-right: none;
	    box-shadow: 0 2px 3px rgba(255, 255, 255, 0.05) inset, 0 1px 0 rgba(255, 255, 255, 0.1);
	    color: #777777;
	    cursor: pointer;
	    font-size: 14px;
	    line-height: 21px;
	    text-decoration: none;
	    text-shadow: 0 -1px #0F0F0F;
	    vertical-align: top;
	}
.start:active { 
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4) inset, 0 1px 0 rgba(255, 255, 255, 0.1) 
} 
.change{
		width: 80px;
		height: 40px;
		cursor:pointer;
		position:absolute;
		margin:230px -25px;
		border-radius:6px 6px 6px 6px;
		outline:none;/*取消input焦点边框*/
	    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.34) 100%) repeat scroll 0 0 transparent;
		border: 1px solid #121212;
	    border-right: none;
	    box-shadow: 0 2px 3px rgba(255, 255, 255, 0.05) inset, 0 1px 0 rgba(255, 255, 255, 0.1);
	    color: #777777;
	    cursor: pointer;
	    font-size: 14px;
	    line-height: 21px;
	    text-decoration: none;
	    text-shadow: 0 -1px #0F0F0F;
	    vertical-align: top;
	}
.change:active { 
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4) inset, 0 1px 0 rgba(255, 255, 255, 0.1) 
}

#rocket{
		width: 328px;
		height: 425px;
		transition:all 1s;
		background:url();
		display:block;
		animation:rocket .8s steps(1,end);
		left: 35%;
		position: relative;
}
@keyframes rocket{
		0%{background:url(../images/rocket/rocket_1.png);}
		6.25%{background:url(../images/rocket/rocket_2.png);}
		12.5%{background:url(../images/rocket/rocket_3.png);}
		18.75%{background:url(../images/rocket/rocket_4.png);}
		25%{background:url(../images/rocket/rocket_5.png);}
		31.25%{background:url(../images/rocket/rocket_6.png);}
		37.5%{background:url(../images/rocket/rocket_7.png);}
		43.75%{background:url(../images/rocket/rocket_8.png);}
		50%{background:url(../images/rocket/rocket_9.png);}
		56.25%{background:url(../images/rocket/rocket_10.png);}
		62.5%{background:url(../images/rocket/rocket_11.png);}
		68.75%{background:url(../images/rocket/rocket_12.png);}
		75%{background:url(../images/rocket/rocket_13.png);}
		81.25%{background:url(../images/rocket/rocket_14.png);}
		87.5%{background:url(../images/rocket/rocket_15.png);}
		93.75%{background:url(../images/rocket/rocket_16.png);}
		100%{background:url(../images/rocket/rocket_16.png);}
}
input{
	float:left;
}
.right>.getBoss,.mid_down>.getBoss,.left>.getBoss{
	height: 80px;
	width: 280px;
	outline:none;
}
.nojiao{
	width: 90px;
	height: 35px;
	background:url(../images/不叫2.png)no-repeat;
	outline:none;
	border:none;
}
.jiao1{
	width: 90px;
	height: 35px;
	background:url(../images/叫地主2.png)no-repeat;
	outline:none;
	border:none;
}
.jiao2{
	width: 90px;
	height: 35px;
	background:url(../images/抢地主2.png)no-repeat;
	outline:none;
	border:none;
}
.jiao2:hover{
	background:url(../images/抢地主1.png)no-repeat;
}
.nojiao:hover{
	background:url(../images/不叫1.png)no-repeat;
}
.jiao1:hover{
	background:url(../images/叫地主1.png)no-repeat;
}
.chu{
	width: 90px;
	height: 35px;
	outline:none;
	border:none;
	background:url(../images/出牌2.png)no-repeat;
}
.buchu{
	width: 90px;
	height: 35px;
	outline:none;
	border:none;
	background:url(../images/不出2.png)no-repeat;
}
.chu:hover{
	background:url(../images/出牌1.png)no-repeat;
}
.buchu:hover{
	background:url(../images/不出1.png)no-repeat;
}